<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="../static/account.css">
</head>
<body>
    <div class="header">
        <div>Paramètres</div>
        <div class="bouton">
        <a href="../templates/logout.html" class="btn">Déconnexion</a>
    </div>
    </div>
    
    <div class="container">
        <h2>Informations personnelles</h2>
        <label>Nom d'utilisateur</label>
        <input type="text" placeholder="NomUtilisateur">
        <label>Email</label>
        <input type="email" value="utilisateur@example.com">
        <label>Mot de passe</label>
        <input type="password" placeholder="MotDePasse">
        <label>Date de naissance</label>
        <input type="date" value="2006-03-14">
        <a href="../templates/home.html"><button class="btn-update">Mettre à jour</button></a>
    </div>
</body>
</html>
