<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur - Inscription</title>
    <link rel="stylesheet" href="../static/ErrorRegister.css">
</head>
<body>
    <h1>Erreur - Inscription</h1>
    <p>Un problème est survenu lors de l'inscription. L'email est peut-être déjà utilisé.</p>
    <a href="/register"><button>réessayer</button></a>
    <a href="/home"><button>retour à l'accueil</button></a>
</body>
</html>