<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/image/forum.png">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/image/forum.png">
<body>
    <div class="container">
        <div class="form-container">
            <div class="image-container"></div>
            <img src="../static/image/forum.png" alt="Inscription">
            <h2>Connexion</h2>
            <form action="/login" method="POST">
                <label for="email">Email :</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Se connecter</button>
            </form>

            <p class="login-text">Pas encore inscrit ? <a href="/register">Créer un compte</a></p>
            <a href="/home"><button>retour à l'accueil</button></a>
        </div>
        </div>
    </div>
    <script>
        document.querySelector("form").addEventListener("submit", function(event) {
            event.preventDefault();
            window.location.href = "../templates/home.html"; 
        });
    </script>
    </form>
</body>
</html>
