<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deconnexion</title>
    <link rel="stylesheet" href="../static/logout.css">
    <link rel="icon" type="image/x-icon" href="../static/image/forum.png">
</head>
<body>
    <div class ="container">
    <h1>Deconnexion reussi</h1>
    <a href="/login"><button>Connexion</button></a>
    <a href="/home"><button>retour à l'accueil</button></a>
    <a href="/contact"><button>Support</button></a>
</body>
</html>